<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="inital-scale=1, width=device-width">
        <title>Study Spot Finder</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Study Spot Finder</h1>
            <a href="/">ScheduleToICS</a>
            <a href="/finder">Study Spot Finder</a>
            <p>Created by Robert Yan</p>
            <a href="https://github.com/lewyche/ScheduleToICS">https://github.com/lewyche/ScheduleToICS</a>
        </div>


</body>
</html>