<!DOCTYPE html>

<html lang="en">
    <head>
        <meta name="viewport" content="inital-scale=1, width=device-width">
        <title>Hello</title>
    </head>
    <body>
        <div style="text-align: center">
            <h1>Course Schedule to .ics W25</h1>
            <h3>Enter courses seperated with commas or spaces</h3>
            <h4>EG: CIS*2250*0103 CIS*2500*0102 MATH*1160*01 ANTH*1150*DE01 MCS*1000*0103</h4>
            
            <p>{{result}}</p>
            
            <form action="/" method="post">
                <input size="100" style="height:100px" autocomplete="off" autofocus name="courses" placeholder="Enter Courses" type="text">
                <br>
                <button style="height:50px;width:825px"type="submit">Submit</button>
            </form>
        </div>


</body>
</html>